<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            color: black;
        }
    </style>
</head>

<body>
    <div style="border: 1px solid black; width: 75%">
        <div style="padding:30px; background-color:#999999;">
            {{!-- {{>header}} --}}
            <p style="font-family: Verdana;">Dear Sir/Madam, </p>

            <p style="font-family: Verdana;">This is the sample email template. content can be changed as needed <br>

            </p>

            <br>

            {{!-- {{>footer}} --}}
        </div>
    </div>
</body>

</html>